In [27]:
# 1
a = [1, 2, 3, 4, 5, 4, 5]
b = 5
a.count(b)

2

In [28]:
# 2 
a = [1, 2, 3, 4, 5, 4, 5]
sum(a)

24

In [29]:
# 3
max(a)

5

In [30]:
# 4
min(a)

1

In [31]:
# 5
print(b in a)
print(5 in a)

True
True

In [32]:
# 6 
if len(a) == 0 :
    print('list is empty')

else : 
    print(a[0])

1

In [33]:
# 7 
if len(a) == 0 :
    print('list is empty')

else : 
    print(a[-1])

5

In [37]:
# 8
a1 = a[0:3]

In [42]:
# 9
reverse_a = list(reversed(a))
print(reverse_a)

[5, 4, 5, 4, 3, 2, 1]

In [43]:
# 10
sorted_a = sorted(a)
print(sorted_a)

[1, 2, 3, 4, 4, 5, 5]

In [44]:
# 11
r_duplicate_a = list(set(a))
print(r_duplicate_a)

[1, 2, 3, 4, 5]

In [47]:
# 12
c = 6
ind = 2
a.insert(ind, c)
print(a)

[1, 2, 6, 3, 4, 5, 4, 5]

In [48]:
# 13
a.index(c)

2

In [49]:
# 14
bool(a)

True

In [54]:
# 15
num = 0 
for j in a :
    if j%2 == 0:
     num+=1
print(num)

4

In [57]:
# 16
odd = 0
for j in a:
    if j%2 == 1:
     odd+=1
print(odd)

4

In [58]:
# 17
my_list = [8, 9, 34, 33]
my_list.extend(a)
new_list = my_list
print(new_list)

[8, 9, 34, 33, 1, 2, 6, 3, 4, 5, 4, 5]

In [59]:
# 18
response = True
for items in a:
    if items not in my_list:
        response = False
        break
print(response)

True

In [64]:
#19
a[a.index(4)] = 9
print(a)

[1, 2, 6, 90, 9, 5, 4, 5]

In [65]:
# 20
print(sorted(list(set(a)))[-2])

9

In [66]:
# 21
print(sorted(list(set(a)))[1])

2

In [67]:
# 22
even_numbers = []
for num in a:
    if num%2 == 0:
       even_numbers.append(num)
print(even_numbers)

[2, 6, 90, 4]

In [68]:
# 23
odd_numbers = []
for num in a:
    if num%2 == 1:
        odd_numbers.append(num)
print(odd_numbers)

[1, 9, 5, 5]

In [70]:
# 24 
len(a)

8

In [71]:
# 25
a2 = a.copy()

In [72]:
#26
if len(a) % 2 == 1:
    print(a[len(a)//2])
else:
    print(a[len(a)//2], a[(len(a)//2)-1])

9 90

In [73]:
# 27
max(a[1:3])

6

In [74]:
# 28
min(a[0:5])

1

In [ ]:
# 29
index1 = 9
if index1<len(a)-1:
    a.pop(index1)

In [81]:
# 30
if a == a.sort():
    print(True)
else:
    print(False)

False

In [82]:
# 31
new_list = a * 2
print(new_list)

[1, 2, 4, 5, 5, 6, 9, 90, 1, 2, 4, 5, 5, 6, 9, 90]

In [86]:
# 32
my_list = [12, 13, 14]
my_list.extend(a)
my_list = new_list
print(sorted(new_list))

[1, 1, 2, 2, 4, 4, 5, 5, 5, 5, 6, 6, 9, 9, 90, 90]

In [87]:
# 33
indexes = []
valuee = 6
for j in range(len(a)):
    if a[j] == valuee:
        indexes.append(j)

print(indexes)

[5]

In [92]:
# 34
a3 = [ None ]
a3.extend(a)
print(a3)

[None, 1, 2, 4, 5, 5, 6, 9, 90]

In [93]:
# 35
a4 = []
for x in range(10):
    a4.append(x)

In [94]:
# 36
total = 0
for j in a:
    if j>0:
        total+=j
print(total)

122

In [96]:
# 37 
Sum = 0
for j in a:
    if j<0:
        sum+=j
print(Sum)

0

In [98]:
# 38
f = True
for j in range(len(a)//2):
    if a[j] != a [-(j+1)]:
        f = False
        break
print(f)

False

In [99]:
# 39
a9 = []
a7 = a[0:3]
a8 = a[3:]
a9.append(a8)
a9.append(a7)
print(a9)

[[5, 5, 6, 9, 90], [1, 2, 4]]

In [104]:
# 40
a10 = []
for j in list(set(a)):
    if a.count(j) == 1:
      a10.append(j)
print(a10)

[1, 2, 4, 6, 9, 90]

## Tuples

In [ ]:
#1
my_tuple = (1, 7, 4, 5, 6, 8, 5)
print(my_tuple.count(5))

2

In [ ]:
#2
max(my_tuple)

8

In [ ]:
#3
min(my_tuple)

1

In [109]:
#4
5 in my_tuple

True

In [110]:
# 5
if my_tuple:
    print(my_tuple[0])

1

In [ ]:
# 6
if my_tuple:
    print(my_tuple[-1])

In [111]:
# 7
len(my_tuple)

7

In [112]:
#8
new_tuple = a[0:3]
print(new_tuple)

[1, 2, 4]

In [115]:
# 9
new_tuple = (3, 2, 1,)
t = new_tuple + my_tuple
print(t)

(3, 2, 1, 1, 7, 4, 5, 6, 8, 5)

In [114]:
# 10
bool(my_tuple)

True

In [117]:
# 11
indexes_t= []
valueet = 1
for j in range(len(my_tuple)):
    if my_tuple[j] == valueet:
        indexes_t.append(j)

print(indexes_t)

[0]

In [121]:
# 12
print(sorted(list(set(my_tuple)))[-2])

7

In [122]:
# 13
print(sorted(list(set(my_tuple)))[1])

4

In [123]:
# 14 
a = (2,)

In [ ]:
# 15
listt = [3,5]
a = tuple(listt)
print(a)

(3, 5)

In [146]:
#16
if a == tuple(sorted(a)):
    print(True)
else:
    print(False)

True

In [148]:
# 17
max(a[0:3])

5

In [149]:
# 18
min(a[0:3])

3

In [157]:
# 19
my_tuple_list = list(my_tuple)
my_tuple_list.remove(7)
tuple(my_tuple_list)

(1, 4, 5, 6, 8, 5)

In [158]:
#20
t7 = my_tuple[0:3]
t8 = my_tuple[3:]
t9 = (t7, t8)
print(t9)

((1, 7, 4), (5, 6, 8, 5))

In [159]:
# 21 
t10 = my_tuple * 2
print(t10)

(1, 7, 4, 5, 6, 8, 5, 1, 7, 4, 5, 6, 8, 5)

In [160]:
# 22
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [161]:
# 23
t10[::-1]

(5, 8, 6, 5, 4, 7, 1, 5, 8, 6, 5, 4, 7, 1)

In [162]:
# 24
my_tuple == my_tuple [::-1]

False

In [164]:
# 25
f = []
for c in my_tuple:
    if c not in f:
        f.append(c)
tuple(f)

(1, 7, 4, 5, 6, 8)

## Set

In [165]:
# 1
set_1 = {1, 2, 4}
set_2 = {2, 4, 6}
set_2.union(set_1)

{1, 2, 4, 6}

In [166]:
# 2
set_1.intersection(set_2)

{2, 4}

In [167]:
# 3
set_1.difference(set_2)

{1}

In [168]:
#4
set_1.issubset(set_2)

False

In [169]:
#5
5 in set_1

False

In [170]:
#6
len(set_1)

3

In [171]:
#7
q = [ 1, 2, 3, 6]
set(q)

{1, 2, 3, 6}

In [174]:
#8
set_1.remove(1)
print(set_1)

{4}

In [175]:
# 9
set_1.clear()

In [178]:
# 10 
bool(set_1)

False

In [179]:
# 11
set_1 = {1, 2, 4}
set_1.symmetric_difference(set_2)

{1, 6}

In [181]:
# 12
set_1.add(5)
print(set_1)

{1, 2, 4, 5}

In [185]:
# 13
r = set_1.remove(1)
print(r)

None

In [186]:
# 14
max(set_2)

6

In [187]:
# 15
min(set_2)

2

In [188]:
# 16
z = []
for i in set_2:
    if i %2 == 0:
        z.append(i)
set(z)

{2, 4, 6}

In [190]:
# 17
e = []
for i in set_2:
    if i %2 == 1:
        z.append(i)
set(e)

set()

In [192]:
# 18
set(list(range(10)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [193]:
# 19
set_2.symmetric_difference(set_1)

{2, 6}

In [194]:
# 20
set_2.isdisjoint(set_1)

False

In [ ]:
# 21
list5 = [1, 3, 5, 2, 0, 2, 4]
list(set(list5))

[0, 1, 2, 3, 4, 5]

In [202]:
# 22
len(set(list5))

6

In [197]:
#23
import random
random_set = {random.randint(1, 10) for _ in range(10)}
print(random_set)

{1, 2, 3, 4, 7, 9, 10}

## Dictionary

In [5]:
#1
my_dict = {
    "Name": "Fozilbek",
    "age" : "19",
    "Nation" : "uzbek"
}
my_dict.get("Name")

'Fozilbek'

In [ ]:
#2 
"Name" in my_dict

True

In [ ]:
# 3
len(my_dict)

3

In [9]:
# 4
list(my_dict.keys())

['Name', 'age', 'Nation']

In [10]:
# 5
list(my_dict.values())

['Fozilbek', '19', 'uzbek']

In [12]:
# 6
a = { "profession" : "manager" }
my_dict.update(a)
print(my_dict)

{'Name': 'Fozilbek', 'age': '19', 'Nation': 'uzbek', 'profession': 'manager'}

In [13]:
# 7
my_dict.pop("profession", None)

'manager'

In [ ]:
#8
a.clear()

In [15]:
#9
bool(a)

False

In [18]:
# 10
print("Name :",my_dict.get("Name"))

Name : Fozilbek

In [19]:
# 11
my_dict["Name"] = "John"
print(my_dict)

{'Name': 'John', 'age': '19', 'Nation': 'uzbek'}

In [ ]:
# 12
list(my_dict.values()).count("John")

1

In [24]:
# 13
inverted = {}
for k, v in my_dict.items():
    inverted[v] = k
print(inverted)

{'John': 'Name', '19': 'age', 'uzbek': 'Nation'}

In [25]:
# 14
b = []
for ke, ve in my_dict.items():
    if ve == "19" :
        b.append(ke)
print(b)

['age']

In [28]:
# 15
a = ["Sariq", "Katta" , "Chidamli" ]
b = ["Rangi", "Hajmi", "Sifati"]
yangi_dict = {}
for i in range(len(b)):
    yangi_dict[b[i]] = a[i]
print(yangi_dict)

{'Rangi': 'Sariq', 'Hajmi': 'Katta', 'Sifati': 'Chidamli'}

In [29]:
# 16
llll = []
for kee, vall in yangi_dict.items():
    if isinstance(vall, dict):
        llll.append(kee)
print(llll)

[]

In [30]:
# 17
kl = {
    "x" : {"y" : "z"}
}
kl.get("x").get("y")

'z'

In [31]:
# 18
my_dict.get("d", None)

In [32]:
# 19
len(set(my_dict.values()))

3

In [34]:
# 20
dict(sorted(my_dict.items()))

{'Name': 'John', 'Nation': 'uzbek', 'age': '19'}

In [36]:
# 21
dict(sorted(my_dict.items(), key=lambda val: val[1]))

{'age': '19', 'Name': 'John', 'Nation': 'uzbek'}

In [44]:
# 22
dict_1 = my_dict.values()
print(dict_1)

dict_values(['John', '19', 'uzbek'])

In [38]:
# 23
set(my_dict.keys()) & set(yangi_dict.keys())

set()

In [39]:
# 24
tuple_1 = (('A', 1), ('B', 2), ('C', 3))
dict(tuple_1)

{'A': 1, 'B': 2, 'C': 3}

In [41]:
# 25
list(my_dict.items())[0]

('Name', 'John')